PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://ugbazaar:<password>@cluster0.xxxxx.mongodb.net/ugbazaar
JWT_SECRET=ugbazaar_super_secret_key_2026
JWT_EXPIRE=30d
RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxx
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_WHATSAPP_FROM=whatsapp:+14155238886
TWILIO_SMS_FROM=+1xxxxxxxxxx
CLOUDINARY_CLOUD_NAME=ugbazaar
CLOUDINARY_API_KEY=xxxxxxxxxxxx
CLOUDINARY_API_SECRET=xxxxxxxxxxxxxxxxxxxxxx
OWNER_WHATSAPP=+918390901925
OWNER_NAME=Uday Ainchwar
SHOP_NAME=UG Bazaar
SHOP_LOCATION=Bhangaram, Talodhi, Chandrapur
